@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="wrapper wrapper-full-page">
    <div class="full-page login-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-7 ml-auto mr-auto">
                        <div class="card card-login card-white">
                            <div class="card-header">
                                <img class="card-img" src="~/assets/img/card-primary.png" alt="Card image">
                                <h4 class="card-title">Login</h4>
                            </div>
                            <div class="card-body">
                                <form asp-action="Login" method="post">
                                    <div class="form-group">
                                        <input type="submit" value="Login com Azure B2C" class="btn btn-primary btn-round btn-lg" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}